[submodule "tb_client"]
	path = tb_client
	url = https://github.com/MountainKingGame/MKGProject1.git
	branch = tb_client
[submodule "shared"]
	path = shared
	url = https://github.com/MountainKingGame/MKGProject1.git
	branch = shared
